.descendant p {
  color: lawngreen;
}

.child > a {
  color: blue;
  border: solid;
}

.ani + p {
  color: blueviolet;
}

.subsequent ~ p {
  color: blueviolet;
  border: dotted;
}

h1,
h2,
h3 {
  margin: 0;
  color: darkorange;
}
