.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  height: 100px;
  margin: 30px;
  border: 2px solid black;
}

.gray-box {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 3;
  width: 70%;
  height: 60px;
  background: lightgray;
}

.green-box {
  position: absolute;
  top: -15px;
  left: 270px;
  z-index: 2;
  width: 35%;
  height: 100px;
  background: lightgreen;
}
