.sticky {
  position: sticky;
  top: 0px;
  height: 64px;
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.fixed {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: lightgoldenrodyellow;
}

.absolute {
  position: static;
}

.relative {
  position: relative;
  width: 80px;
  top: 70px;
  left: 20px;
  background: lightblue;
}

.child {
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: lightgray;
  padding: 10px;
}
